.container {
    display: grid;

    grid-template-areas: 
        "header"
        "main"
        "footer";

    grid-template-rows: 20rem auto 15rem;
    grid-template-columns: 3fr;


        @media(max-width: 768px) {
        grid-template-areas: 
        "header"
        "main"
        "footer";
    
        grid-template-columns: 3fr;
        grid-template-rows: 10rem auto 10rem;


        }
    
        
}

.header {
    grid-area: header;
    background-color: linear-gradient(135deg, #0a2540 0%, #193763 100%);
    display: grid;
    color:rgb(60, 101, 236);
    font-size: 3rem;
}


.footer{
    grid-area: footer;
    background-color: white;
    color: black;
    grid-template-areas: 
        "l1 l2 l3";
    
        grid-template-rows: repeat(auto-fit, min-content);
}

.grid {
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-template-rows: repeat(auto-fit, min-content);
    gap: 3rem;
    padding: 3rem;

    /* justify-content: center; */
    /* align-content: center; */

    @media(max-width: 768px) {
        
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-template-rows: repeat(auto-fit, min-content);
        gap: 3rem;
        padding: 3rem;

        }

}


.card {
    background-color: rgb(60, 101, 236);
    border-radius: 1rem;
    color: var(--primary-contrast-light);
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0, 0.5);
    font-size: 2rem;
    text-align: center;
    height: 60rem;
}

.imagem {
    object-fit: cover;
    border-radius: 3rem;
    padding: 1rem;
}

.l1{ 
    grid-area: l1;
}

.l2{
    grid-area: l2;

}

.l3{
    grid-area: l3;

}
